.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  /* pointer-events: none;
   */
   pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  /* border: 2px solid wheat; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.world {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
}

.data {
  font-size: larger;
  color: wheat;
}

.ul li {
  text-align: left;
}
.ul {
  padding: 10px;
}


.lists {
  /* background-color: wheat; */
  display: flex;
  flex-direction: row;
  width: max-content;
  
}


.lists ul {
  /* border: 2px solid white; */
  /* color: red; */
  margin: 10px 130px;
}

.p1 {
  color: #61dafb !important;
}

.p2 {
  color: #282c34;
  background-color: #61dafb;
  padding: 2px;
}

.line {
  width: 80%;
}